.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tittle{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.tittle h1{
    font-size: 60px;
    letter-spacing: 5px;
    margin-right: 20px;
}

.projects_container{
    width: 67%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 20px;
    padding-right: 30px;
}

.project{
    width: 100%;
    height: fit-content;
    border-radius: 2rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 0.5s;
}

.project_description{
    display: none;
}
.name_photo{
    position: relative;
}

.name_photo h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #F5730A;
    font-size: 35px;
    z-index: 2;
}

.name_photo img{
    width: 100%;
    height: auto;
    opacity: 0.5;
    z-index: 1;
    border: 4px solid #93194B;
    border-radius: 2rem;
    filter: grayscale(1);
}

.project:hover{
    transform: scale(1.1);

    .name_photo h2{
        visibility: hidden;
    }
    .name_photo img{
        opacity: 1;
        filter: none;
        z-index: 2;
    }

}