.container{
    width: 100%;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    flex-shrink: 0;
}
    
.textsAndAvatar{
    width: 988px;
    height: 400px;
    display: inline-flex;
    align-items: center;
    justify-content: stretch;
    position: relative;
}

.textsAndAvatar h1{
    display: flex;
    width: 60%;
    height: 330.346px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    animation: fadeIn 2s ease-in 1s both;
}

.avatar{
    width: 50%;
    height: 278.853px;
    flex-shrink: 0;
    position: absolute;
    top: -100px;
    right: 100px;
    animation: fadeIn 1.5s ease-in 1.5s both;
}

.containerTexts h2{
    display: flex;
    width: 945.978px;
    height: 58.237px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5px;
    animation: fadeIn 2s ease-in-out 2s both;
}

.buttonDownload{
    width: 76%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    
}
.buttonDownload button{
    display: inline-flex;
    padding: 14px 13.417px 14px 13.753px;
    flex-direction: column;
    align-items: center;
    border-radius: 48px;
    border: 4px solid #D03A3D;
    background: #00101F;
    color: #fff;
    font-size: 25px;
    letter-spacing: 5px;
     animation: fadeIn 2s ease-in 2.5s both;
}

.buttonDownload button:hover{
    transition: all .5s ease;
    background-color: #D03A3D;
}

.container p{
    width: fit-content;
    height: fit-content;
    font-size: large;
    margin-right: 20px;
    animation: bounce infinite ease 2.5s both;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes bounce {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}


@media screen and (min-width: 412px) and (max-width: 965px) {

    .container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;   
    }

    .textsAndAvatar{
        width: fit-content;
        max-height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .textsAndAvatar h1{
        font-size: 6vw;
        flex-direction: column;
        max-width: 100%;
        max-height: 40%;
        background-color: #d03a3d;
        border: transparent;
        border-radius: 10px;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .avatar{
        width: 50%;
        top: -85px;
        left: 25%;
        z-index: 0;
    }   

    .containerTexts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        position: relative;
    }

    .containerTexts h2{
        max-width: 70%;
        height: auto;
        margin-top: -100px;
        font-size: 2vw;
    }


}
