.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.avatar{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        grid-area: 5 / 5 / 8 / 7;
        z-index: 2;
}

.texts { 
    display: inline-flex;
    grid-area: 3 / 2 / 1 / 5;
    font-size: xx-large;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    letter-spacing: 10px;
}
.texts h2{
    font-size: x-large;
    letter-spacing: 5px;
}

.texts button{
    width: fit-content;
    padding: 10px;
    background-color: #00101F;
    border: 4px solid #F5730A;
    border-radius: 3rem;
    color: whitesmoke;
    transition: background 0.5s;
}

.texts button:hover{
    cursor: pointer;
    background-color: #F5730A;
}

.frases { 
    grid-area: 8 / 4 / 8 / 6;
    z-index: 1;
    height: fit-content;
    font-size: large;
    border: 4px solid #F5730A;
    border-radius: 3rem;
    background-color: #00101F;
    color: #F5730A;
    margin-bottom: 20px;
    margin-right: 10px;
}
