.container{
    border: transparent;
    border-radius: 0 2rem 2rem 0;
    width: fit-content;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}

.navbar{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button_menu{
    background: transparent;
    border: transparent;
}
