.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.container h1{
    display: inline-block;
    font-size: 60px;
    letter-spacing: 5px;
    margin-right: 20px;
    animation: easein 1s ease-out 2s both
}

.aboutContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -10px;
    gap: 3rem;
}

.texts{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    text-align: center;
    animation: easein 1s ease-out 2.5s both ;
}
.text{
    width: 60%;
    height: 10%;
    overflow: hidden;
    background-color: #D03A3D;
    border-radius: 2rem;
    transition:  transform ease .5s;

}

.text:hover{
    transform: scale(1.2);
    height: fit-content;
    padding: 10px;
    text-wrap: pretty;
    z-index: 2;
    border: 3px solid #4D1241
}

.photo{
    width: 300px;
    height: 350px;
    border-radius: 5%;
    opacity: 0;
    margin-right: 20px;
    animation: easein 1s ease-in .5s both;
}



@keyframes easein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@media screen and (max-width: 1010px) {

    .container{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .pictureAndText{
        width: fit-content;
        height: fit-content;
        flex-direction: column-reverse;
        margin-top: -80px;
    }

    .pictureAndText img{
        height: 400px;
        width: 40%;
    }
    
    .pictureAndText p{
        width: 50%;
        height: 200px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .pictureAndText p::-webkit-scrollbar{
        width: 5px;
    }
    .pictureAndText p::-webkit-scrollbar-track{
        background-color: #93194c00;
    }
    .pictureAndText p::-webkit-scrollbar-thumb{
        background-color: #93194B;
        border-radius: 3rem;
    }
}