.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 130px;
}

.container h1{
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    margin-right: 50px;
    animation: easein 1s ease-out 2s both
}

.aboutContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -10px;
    gap: 3rem;
}

.texts{
    max-width: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
    text-align: center;
    animation: easein 1s ease-out 2.5s both ;
}
.text{
    max-width: 60%;
    height: 70px;
    overflow: hidden;
    background-color: #D03A3D;
    border-radius: 2rem;
    transition: transform ease .5s;

}

.text:hover{
    transform: scale(1.1);
    height: fit-content;
    padding: 10px;
    text-wrap: pretty;
    z-index: 2;
    border: 3px solid #4D1241
}

.photo{
    width: 350px;
    height: 300px;
    margin-right: 50px;
    animation: easein 1s ease-in .5s both;
}

.photo img{
    width: 350px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #D03A3D;
}

@keyframes easein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@media screen and (min-width:320px) and (max-width: 728px) {

    .container{
        max-width: 100%;
        height: fit-content;
        margin: 0;
        padding: 0;
    }
    .container span{
        display: none;
    }

    .container h1{
        font-size: 12vw;
    }

    .aboutContainer{
        flex-direction: column-reverse;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .photo{
        max-width: 100%;
        max-height: auto;
        justify-content: center;
        margin: 0;
    }

    .photo img{
        max-width: 90vw;
        height: auto;
    }

    .texts{
        width: 100%;
        align-items: center;
        margin-top: -30px;
    }

    .text{
        max-width: 100%;
        height: auto;
        font-size: 2vw;
        border-radius: 2rem;
        transition: none;
        padding: 10px;
        text-align: start;
    }

    .text:hover{
        transform: none;
        padding: none;
        border:transparent;
        height: 50%;
    }
}