
@font-face {
    font-family: 'Bebas Neue';
    src: url(../src/assets/BebasNeue/Fonts/OTF/BebasNeue-Regular.otf);
}

@font-face {
    font-family: 'Nunito';
    src: url(../src/assets/Nunito/Fonts/OTF/Nunito-Regular.otf);
}

html{
    font-family: 'Nunito';
    font-weight: 800;
    color: #fff;
    text-align: center;
    background-image: url(../src/assets/layered-peaks-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
    }

body{
    margin: 0 auto;
}

button{
    font-family: 'Bebas Neue';
    font-size: 40px;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h5{
    font-family: 'Bebas neue';
}

footer{
    background-color: #D03A3D;
    padding: 10px;
    margin-top: 20px;
}